.product-small{
    height: 550px;
    padding-top: 40px;
    margin: 0px 0px 10px 10px;
    text-align: center;
}

.product-grid{
    padding-right: 10px;
}

.product-small h3{
    font-size: 32px;
    font-weight: bold;
}

.product-small h4{
    font-size: 19px;
    font-weight: 400;
}

.product-small.seccion2{
    background-color: #000000;
    color: white;
}

.product-small .links .learn-more{
    margin-right: 20px;
}

.product-small.seccion1{
    background-color: #FBFBFD;
}

.product-small.seccion3{
    background-image: url('https://www.apple.com/v/home/x/images/promos/btm-college-acceptance/promo_btm_college_acceptance__bzzmzv8lqahe_medium_2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-small.seccion4{
    background-image: url('https://www.apple.com/v/home/x/images/promos/ipad-air/tile__cauwwcyyn9hy_large_2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.product-small.seccion5{
    background-image: url('https://www.apple.com/v/home/x/images/promos/arcade-game/promo_tile_arcade_game__gjyz2wtyguqa_large_2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.product-small.seccion6{
    background-image: url('https://www.apple.com/v/home/x/images/promos/apple-card/tile__cauwwcyyn9hy_large_2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}